LAZADA_MARKET: vn
LAZADA_DELIVERY_AREA: 'Nha Trang'
LAZADA_DATA_DIR: '.lazada-search'
LAZADA_ARCHIVE_DIR: 'data/cases/vietnam-nha-trang'
LAZADA_OCR_LANGUAGES: eng
# LAZADA_OCR_DATA_DIR: '.lazada-search/tessdata'
# Optional existing browser session:
# LAZADA_ACCOUNT: default
# LAZADA_LOGIN_PHONE: 'set-your-own-number-privately'
# LAZADA_SESSION_FROM: auto
# LAZADA_BROWSER_EXECUTABLE: '/path/to/chrome'
# LAZADA_CDP_URL: 'http://127.0.0.1:9222'
# LAZADA_CLINK_COMMAND: '/path/to/clink'
# TELEGRAM_BOT_TOKEN: 'keep-this-private'
# TELEGRAM_ALLOWED_USER_IDS: '123456789'
